<section class="gallery">
  <div class= "container">
    <div class="img-container">
      <img src="./assets/Images/pensiunea-romantic-paltinis_0396-2-1030x685.jpg" alt="image1" id="preview">
      <div class="img-prev text-center">
        <div class="img-slide active">
          <img src="./assets/Images/pensiunea-romantic-paltinis_0396-2-1030x685.jpg" alt="image1" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis-04-1030x685.jpg" alt="image2" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis_0233-1030x685.jpg" alt="image3" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis-13-1030x685.jpg" alt="image4" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis_0393-1030x685.jpg" alt="image5" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis-19-1030x685.jpg" alt="image6" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis-21-1030x685.jpg" alt="image7" appHighlight>
        </div>
        <div class="img-slide">
          <img src="./assets/Images/pensiunea-romantic-paltinis_0407-2-1030x685.jpg" alt="image8" appHighlight>
        </div>


      </div>


    </div>
    <div class="text">
      <div class="logo">
          <img src="./assets/Images/logo.png" alt="image9" ></div>
      <h1>Pensiunea Romantic Păltiniș, a guest house consisting of 2 modern villas, is located at <strong>1,400 m</strong> at the entrance into <strong>Păltiniş</strong> resort, in the close proximity to the Arena Platos Păltiniş ski slopes . In an area surrounded by forest with outstanding views that will definitely delight your eyes, we will provide you a memorable stay..</h1>
      <div class="rooms"><p class="text-secondary"><strong>ROOM PRICES</strong></p></div>
      <div>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="DOUBLE"> 300 RON</mat-tab>
          <mat-tab label="TRIPLE"> 350 RON</mat-tab>
          <mat-tab label="FAMILY"> 400 RON</mat-tab>
          <mat-tab label="APARTAMENT"> 600 RON</mat-tab>
        </mat-tab-group></div>

    </div>




  </div><div class="text-back">
  <div class="text2">
    <h2>THE OLDEST AND HIGHEST RESORT IN ROMANIA</h2>
    <h3>Păltiniş resort is located on the north-eastern slope of the Cindrel Mountains, 32 km away from the City of Sibiu. It is the oldest and highest mountain resort in Romania.</h3>
  </div></div>

</section>


