<div class="gallery">
  <div class="img-slide">
    <img src="./assets/Images/logo.png" alt="logo" appHighlight>
  </div>

    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0259-1030x685.jpg" alt="img5"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0264-1030x685.jpg" alt="img6"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0286-1030x685.jpg" alt="img7"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis-23-1030x685.jpg" alt="img8"></a>
<div class="text-back">
  <div class="text2">
    <h2>THE OLDEST AND HIGHEST RESORT IN ROMANIA</h2>
    <h3>The Păltiniş mountain and tourist resort is located on the north-eastern slope of the Cindrel Mountains, 32 km away from the City of Sibiu. This is the oldest and highest mountain resort in Romania.

      The settlement located at an altitude of 1442 meters, below the Oncesti Peak, surrounded by coniferous trees, was set up by the Carpatina Transilvania Society at the end of the 19th century. Dating back to over a century ago, three of the over the 40 villas that had been built in time in this resort have been declared historic monuments, namely the Tourists ‘House, the Doctors’ House and the Monaco Hall.

      The main therapeutic factor is the alpine climate with strong odorizing air, rich in aerosols and ultraviolet radiation. The pure air quality in this resort is beneficial for treating asthenia, physical and intellectual burnout, anaemia, pulmonary sequelae, and developmental deficiencies in children.</h3>
  </div></div>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0107-1030x685.jpg" alt="img9"></a>
    <a><img src="./assets/Images/b.jpg" alt="img1"></a>
    <a><img src="./assets/Images/qjpg.jpg" alt="img1"></a>
    <a><img src="./assets/Images/r).jpg" alt="img1"></a>
  <div class="text-back">
    <div class="text2">
      <h2>Rooms</h2>
      <h3>We offer different types of rooms:  double, triple, family rooms or an apartment, so that you may choose exactly what you want in order to spend a relaxing holiday with family and friends.
         Internet Wireless & TV | Panoramic view | Safe deposit | Shower cabin, bath tube or Jacuzzi | Minibar</h3>
    </div></div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>DOUBLE</mat-card-title>
      <mat-card-subtitle>2 ADULTS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/Images/pensiunea-romantic-paltinis_0172-1030x685.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Villa Romantic I, the main villa of Pensiunea Romantic Păltiniș, welcomes its visitors with its state-of-the-art, warm and friendly environment.


      </p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button color="warn" routerLink="/avail" >CHECK AVAILABILITY</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TRIPLE</mat-card-title>
      <mat-card-subtitle>2 ADULTS + 1 CHILD</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/Images/pensiunea-romantic-paltinis_0180-1030x685.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Villa Romantic II is a rather more isolated villa, ideal for those who long for peace and privacy.


      </p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button color="warn" routerLink="/avail" >CHECK AVAILABILITY</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>FAMILY</mat-card-title>
      <mat-card-subtitle>2 ADULTS + 2 CHILDREN</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/Images/pensiunea-romantic-paltinis_0256-1030x685.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Pensiunea Romantic  is located at the entrance into Păltiniş resort. Our accommodation facility distinguishes itself through its elegance  being fully  able to satisfy all needs and requirements of any guests.
      </p>
    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button color="warn" routerLink="/avail" >CHECK AVAILABILITY</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>APARTAMENT</mat-card-title>
      <mat-card-subtitle>4 ADULTS + 2 CHILDREN</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/Images/pensiunea-romantic-paltinis_0160-1030x685.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The interior ambiance spreads outward through the spectacular view, so we are more than convinced that we will definitely surprise our tourists and visitors with the exceptional panorama to the Cindrel Mountains.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="'buton" mat-raised-button color="warn" routerLink="/avail" >CHECK AVAILABILITY</button>
    </mat-card-actions>
  </mat-card>

</div>


<script crossorigin="anonymous"
        integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css" integrity="sha512-kwJUhJJaTDzGp6VTPBbMQWBFUof6+pv0SM3s8fo+E6XnPmVmtfwENK0vHYup3tsYnqHgRDoBDTJWoq7rnQw2+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
  lightGallery(document.querySelector(".gallery"));
</script>

