*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .2s linear;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.gallery a{
  height: 200px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 5px #000;
}

.gallery a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery a img:hover{
  transform:scale(1.4);
}

.example-card {
  border-radius: 5px;
  max-width: 330px;
  height: 200px;
  width: 300px;
  margin: 20px;
  box-shadow: 0 3px 5px #000;
  padding-bottom: 200px;
}

.example-header-image {
  background-size: cover;
}

.text2{
  text-align: center;


}
.text-back{
  background: #f0efe9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1px;
}

.img-slide{
  align-items: center;
  padding: 10px 400px;
}
