<div class="gallery">
  <a><p-image src="./assets/Images/pensiunea-romantic-paltinis_0172-1030x685.jpg" alt="img1" ></p-image></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0180-1030x685.jpg" alt="img2" ></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0196-1030x685.jpg" alt="img3"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0256-1030x685.jpg" alt="img4"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0259-1030x685.jpg" alt="img5"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0264-1030x685.jpg" alt="img6"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0286-1030x685.jpg" alt="img7"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis-23-1030x685.jpg" alt="img8"></a>
    <a><img src="./assets/Images/pensiunea-romantic-paltinis_0107-1030x685.jpg" alt="img9"></a>
    <a><img src="./assets/Images/b.jpg" alt="img1"></a>
    <a><img src="./assets/Images/qjpg.jpg" alt="img1"></a>
    <a><img src="./assets/Images/r).jpg" alt="img1"></a>
</div>

<script crossorigin="anonymous"
        integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css" integrity="sha512-kwJUhJJaTDzGp6VTPBbMQWBFUof6+pv0SM3s8fo+E6XnPmVmtfwENK0vHYup3tsYnqHgRDoBDTJWoq7rnQw2+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
  lightGallery(document.querySelector(".gallery"));
</script>
